@tailwind base;
@tailwind components;
@tailwind utilities;
@import "typography";
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

.r-1q9bdsx {
  border-radius: 0px !important;
}

a {
  color: inherit;
  text-decoration: none;
  color: #e22226;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-family: 'Alegreya Sans', sans-serif;
}

input {
  display: block;
  border-radius: .3em;
  width: 100%;
  margin-bottom: .5em;
  padding: .25em .5em;
}

ul {
  list-style-type: disc;
  // list-style: disc;

  li {
    margin-bottom: 1em;
    ul {
      margin-left: 2em;
      list-style: circle;
    }
  }
}

.news {
  figcaption {
    color: #555;
    font-size: 15px;
    // text-align: center
  }
  p {
    margin: 1em 0;
  }


  .wp-news ul {
    list-style-type: disc;
  }

  .wp-image-5748 {
    max-width: 500px;
  }

  .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: rgb(207,201,200);
    background: linear-gradient(90deg, rgba(207,201,200,1) 0%, rgba(174,188,198,1) 44%);
    padding: 1em;
    color: black;
  }
}