@tailwind base;
@tailwind components;
@tailwind utilities;
@import "typography";
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

input {
  display: block;
  border-radius: .3em;
  width: 100%;
  margin-bottom: .5em;
  padding: .25em .5em;
}