.buttonLink {
  width: 175px;
  height: 50px;
  background: #fff;
  display: block;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.container {
  padding: 0rem;
}

.outerModal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,.95);
  z-index: 1000;
  padding: 1em;
}

.innerModal {
  max-width: 800px;
  background: white;
  position: absolute;
  left: 50%;
  top:30%;
  transform:translateX(-50%);
  width: 100%;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  h3 {
    margin: 0;
  }
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  height: 220px;
  position: relative;
  background-color: #000;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  z-index: 1;

}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.headerContent {
  display: grid;
  /* flex-direction: row;
  position: absolute; */
  /* top: 0; */
  grid-template-areas: 
  "left-col empty andy right-col"
  "left-col excerpt andy right-col "
  ;
  grid-template-columns: 80px 1fr 300px 80px;
  grid-template-rows: 500px 1fr;
  grid-column-gap: 40px;
  margin-bottom: 2em;;
}

.banner {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.excerpt {
  max-width: 900px;
  min-width: 550px;
  background: white;
  padding: 1em 2em;
  grid-area: excerpt;
  z-index: 1;
  @apply shadow-md;
  border-radius: .3em;
}

.exReadMore {
  border: 1px solid black;
  width: 175px;
  height: 50px;
  background: #fff;
  display: block;
  margin: 1em auto;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteBlock {
  display: grid;
  margin: 2em 0;
  grid-template-columns: 10px 1fr;
  grid-gap: 20px;
  .vertLine {
    height: 100%;
    width: 14px;
    background-color: black;
  }

  p {
    font-weight: bold; 
  }
}

.author {
  width: 300px;
  background: white;
  padding: 2em 1.5em;
  text-align: center;
  grid-area: andy;
  z-index: 1;
  margin-top: 40px;
  @apply shadow-md;
  border-radius: .3em;
}

.author p {
  text-align: left;
}

.socialLinks {

  li img {
    width: 40px;
  }
  display: flex;
  justify-content: space-between;

}

.bookLinks {
  background: #000000;
  min-height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
  margin: 1em 0 .25em;
  position: relative;
  z-index: 1;
  font-weight: 700;
  // margin-bottom: .25em;
  }
}

.squigglyWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
 
}

.booksUl {
  // display: flex;
  // justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: .25em 0 0;

  z-index: 1;
  li {
    display: flex;
    justify-content: center;
    margin: 0 2em 1em;
  }

  .buttonLink {
    color: $red-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
  }
  // justify-content: space-around;
}

.excerptAndSignup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  grid-gap: 30px;
  margin-top: 40px;
}

.excerptBlock, .signUpBlock {
  padding: 1em;
  h2 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
  }
  p {
    margin: 0 0 20px;
    color: white;
  }
}
.excerptBlock {
  background: $red-color;
  .buttonLink {
    color: $red-color;
  }
}

.signUpBlock {
  background: $blue-color;
  .buttonLink {
    margin-top: 1em;
    color: $blue-color;
   
  }
}

.testimonials {
  padding: 1em 2em;
}

.testimonialUl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  h4, h5 {
    margin: 0;
    line-height: 1.2;
  }
  h4 {font-size: 24px}
  h5 {font-size: 20px}
  li {
    position: relative;
    padding-top: 1.5em;
  }
}

.quoteMark {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .3;
}

.testTopGrid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
}

.testImgWrap {
  border-radius: 100%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  img {
    width: 100%;
    height: auto;
  }
}

.monitoring {
  padding: 0 2em;
}

.monitorBreak {
  display: grid;
  grid-template-columns: 1fr 320px 1fr;
  align-items: center;

  h3 {
    margin-top:  0;
    text-align: center;
    text-transform: uppercase;
    color: $red-color;
    font-size: 22px;
    font-weight: bold;
  }
}

.moniLine {
  height: 2px;
  background-color: $red-color;
  width: 100%;
}

.postsUl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  h4, p {
    margin: 0;
  }

}

.postNoImgWrap, .postImgWrap {
  height: 200px;
  width: 100%;
  background: grey;
  position: relative;
}

.postImgWrap {
  background: transparent;
}

.featureImg {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  img {
    position: absolute;
    max-width:100%;
    max-height:100%;
  }
}


@media (max-width: 1200px) {

    .headerContent {
      display: block;
      padding: 270px 30px 0;
    

    .excerpt {
      margin: 0 auto;
      width: 100%;
      max-width:none;
      min-width: unset;
      margin-bottom: 40px;
      // position: relative;
      // top: 150px;
    }

    .author {
      margin: 0 auto;
      width: 100%;
    }
  }

  .excerptAndSignup {
    grid-template-columns: 1fr;
  }

  .testimonialUl {
  
    grid-template-columns: 1fr;
  }
  
  .postsUl {
  
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .headerContent {

    padding: 140px 30px 0;
  }

  .postsUl {
    grid-template-columns: 1fr;
  }
}
